@using mvcOnlineTicariOtomasyon.Models.Classes
@model List<Faturalar>
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="h3 mb-0 text-gray-800">Faturalar</h1>
<br />

<table id="tbl8" class="table table-striped">
    <thead>
        <tr>
            <th>Seri No</th>
            <th>Sıra No</th>
            <th>Vergi Dairesi</th>
            <th>Teslim Eden</th>
            <th>Teslim Alan</th>
            <th>Fatura Tarih</th>
            <th>Fatura Saat</th>
            <th>Fatura Toplam</th>
            <th>Güncelle</th>
            <th>Detaylar</th>

        </tr>
    </thead>

    @foreach (var b in Model)
    {
        <tr>
            <td>@b.FaturaSeriNo</td>
            <td>@b.FaturaSıraNo</td>
            <td>@b.VergiDairesi</td>
            <td>@b.TeslimEden</td>
            <td>@b.TeslimAlan</td>
            <td>@b.FaturaTarih</td>
            <td>@b.FaturaSaat</td>
            <td>@b.FaturaToplam ₺ </td>
            <td><a href="/Fatura/FaturaGetirme/@b.FaturaID" class="btn btn-success">Güncelle</a></td>
            <td>
                <a href="/Fatura/FaturaDetay/@b.FaturaID" class="btn btn-group"
                   style="background-color: #35B8FF; color: white; ">Detaylar</a>
            </td>
        </tr>
    }

</table>
<a href="/Fatura/FaturaEkleme" class="btn btn-info">Yeni Fatura</a>

<link href="~/websitesi/css/sb-admin-2.min.css" rel="stylesheet">
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@

<link href="~/websitesi/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script src="~/websitesi/vendor/jquery/jquery.min.js"></script>
<script src="~/websitesi/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/websitesi/vendor/jquery-easing/jquery.easing.min.js"></script>


<!-- Page level plugins -->
<script src="~/websitesi/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/websitesi/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/websitesi/js/demo/datatables-demo.js"></script>

<script>

    $('#tbl8').DataTable({

        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }

    });

</script>


